html {
  font-family: sans-serif;
  color: white;
}

.shadow-box {
  margin-left: -20px;
  margin-right: -20px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;
}

.section {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
}
#section-dream { background-image: url(/img/dream.jpg); }
#section-learning { background-image: url(/img/learning.jpg); }
#section-teamate { background-image: url(/img/teamate.jpg); }
#section-partner { background-image: url(/img/partner.jpg); }
#section-success { background-image: url(/img/success.jpg); }

#title {
  text-shadow: 0 0px 15px rgba(255, 255, 255, 0.7);
  text-align: right;
}

#title img {
  width: 50%;
  margin-bottom: 5px;
}

#subtitle {
  color: white;
  margin: 0px;
}

#service-title {
  width: 150px;
  height: 35px;
  margin-bottom: 20px;
}

.service-item {
  font-weight: bold;
  font-size: 150%;
  margin-bottom: 15px;
  color: white;
}

.service-item i {
  color: #1f8dd6;
}

.service-item.last {
  margin-bottom: 0px;
}

#partner-title {
  margin: 5px 5px 8px;
}

.partner-logo {
  height: 35px;
  margin: 5px;
}

#contact-title {
  width: 150px;
  height: 35px;
  margin-bottom: 20px;
}

#subscription, #contact {
  color: #FFF;
  text-shadow: 0 0px 15px rgba(0, 0, 0, 0.7);
}

#subscription input {
  width: 91%;
  padding: 10px;
}

#subscription button{
  color: white;
  background-color: #38B8F5;
  border: 0px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
}
