html *, body *{
  font-family: "Hiragino Sans GB" !important;
}

.section {
  padding: 0px 15%;
}

#index {
  background: url(/img/bg-index.png) center center no-repeat;
  background-size: 100%;
  color: white;
  text-align: center;
}

#index-title {
  position: absolute;
  top: 10%;
  right: 0px;
  transition: all 0.7s ease-out 0.5s;
}

#index-title.appear {
  transform: translate3d(-50%, 0, 0);
}

#index-more {
  height: 30px;
}

#index-more-arrow {
  height: 15px;
  width: 30px;
  margin: 12px;
 /* animation: 1.75s ease-in-out 0s normal none infinite running mymove;*/
  background: url(/img/index-arrow-level3.png) center center no-repeat;
  background-size: 100%;
}

#index-wave {
  position: absolute;
  bottom: -10%;
  left: -10%;
  transition: all 0.7s ease-out 0.5s;
}

#index-wave.appear {
  transform: translate3d(10%, -10%, 0);
}

#index-more-box {
  position: fixed;
  bottom: 5%;
  margin: 0 auto;
  width: 70%;
}

#service {
  margin: 20px 0;
  color: black;
  font-size: 16px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.5); 
}

#service img {
  width: 80px;
  height: 80px;
}

#intro {
  /*background: none repeat scroll 0 0 #323539;*/
}

#contact {
  background: url(/img/bg-contact.png) center center no-repeat;
  background-size: 100%;
}

#contact-box {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 5% 10%;
  border-bottom: 30px solid rgba(56, 184, 245, 0.6);
}

#contact-title {
  height: 70px;
  margin-top: 5%;
}

#contact-detail {
  color: #070707;
  font-size: 20px;
  /*text-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);*/
  margin-top: 5%;
  opacity: 0;
}

#contact-detail.appear {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#contact-seperate-line {
  background-color: rgba(56, 184, 245, 0.6);
  height: 100px;
  width: 2px;
}

#subscription input {
  width: 80%;
  padding: 10px;
}

#subscription button {
  color: white;
  background-color: #38b8f5;
  border: 0;
  padding: 10px;
  width: 85%;
}

